@font-face {
    font-family: 'Libre Baskerville Bold';
    src: url('../fonts/LibreBaskerville-Bold.eot');
    src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Bold.woff') format('woff'),
        url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville Regular';
    src: url('../fonts/LibreBaskerville-Regular.eot');
    src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
        url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
