@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background: url(../img/background-image.png) repeat-x;
  font-family: Arial, sans-serif; }

* {
  box-sizing: border-box; }

.face img, .portfolio-item img {
  display: block;
  width: 100%;
  margin: 0 auto; }

.logo {
  font-family: "Libre Baskerville Bold", Arial, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  padding-bottom: 8.7719298246%;
  position: relative;
  padding-top: 50px;
  top: 0;
  transition: 0.2s all linear;
  visibility: hidden;
  opacity: 0;
  z-index: 1; }

.move {
  padding-top: 8.7719298246%;
  visibility: visible;
  opacity: 1; }

.main-wrapper {
  margin-top: 17px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  overflow: hidden;
  background-color: #fff; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  opacity: 1;
  visibility: visible;
  transition: 0.3s all linear;
  z-index: 1000; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #323232;
  transform: translate(-50%, -50%);
  animation: 1s spiner infinite linear; }

.preloader-done {
  visibility: hidden;
  opacity: 0; }

.navigation a {
  font-family: "Avenir Light", Arial, sans-serif;
  color: #000;
  text-transform: uppercase; }

@keyframes spiner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
.text-centered {
  text-align: center; }

.home {
  font-size: 1.563rem;
  padding: 14.0350877193% 0 13.1578947368% 0; }

.home h1 {
  font-weight: 900;
  margin-bottom: 6.6666666667%;
  text-transform: uppercase;
  letter-spacing: 0.2rem; }

.home p {
  line-height: 1.5; }

.face {
  margin: 0 auto;
  max-width: 385px;
  max-height: 385px; }

.portfolio {
  padding: 4.8245614035% 0; }

.portfolio-item {
  margin-top: 30px; }

.portfolio-item img {
  height: 100%;
  object-fit: cover;
  height: 100%; }

.portfolio-item {
  position: relative;
  height: 300px; }

.portfolio-item:hover:after {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  font-size: 2.5rem;
  color: #fff;
  top: 50%;
  left: 50%;
  animation: spiner-alt 1s infinite linear; }

@keyframes spiner-alt {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
#burger {
  display: none;
  position: relative;
  width: 30px;
  height: 40px;
  z-index: 2;
  transition: all 0.5s linear; }

.active-burger span:first-of-type {
  transform: rotate(45deg); }

.active-burger span:last-of-type {
  transform: rotate(-45deg); }

#burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  opacity: 1;
  left: 0;
  transition: all 0.2s linear;
  background-color: #222;
  border-radius: 30px; }

#burger span:first-of-type {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#burger span:nth-of-type(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#burger span:last-of-type {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#burger.active-burger span:first-of-type {
  top: -2px;
  left: 4px; }

#burger.active-burger span:nth-of-type(2) {
  width: 0%;
  opacity: 0; }

#burger.active-burger span:last-of-type {
  top: 20px;
  left: 4px; }

.info {
  color: #565555;
  font-size: 1.25rem;
  padding: 8.7719298246% 0; }

.info h1 {
  display: inline;
  font-family: "Libre Baskerville Regular", Arial, sans-serif;
  font-size: 1.875rem;
  position: relative;
  left: 25px;
  z-index: 1;
  text-transform: uppercase;
  color: #222; }

.info h1:after {
  position: absolute;
  display: block;
  content: "";
  width: 120%;
  left: 50%;
  margin-left: -60%;
  height: 3px;
  bottom: 1px;
  z-index: -1;
  background-color: #b7b7b7; }

.skills p {
  position: relative;
  height: 30px; }

.first-school span:first-of-type {
  display: block;
  line-height: 3; }

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: 0; }

.part {
  position: absolute;
  top: 0;
  left: -200px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.part-active {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: visible;
  opacity: 1; }

.university {
  line-height: 2; }

.university p:first-of-type {
  margin-bottom: 15.621622%; }

.university span {
  display: block; }

.skills p {
  margin-bottom: 30px; }

.skill-points, .university {
  margin-top: 75px; }

.skills {
  margin-right: 17.6470588235%;
  text-align: left; }

.email:after, .insta:after, .facebook:after {
  font-family: "FontAwesome";
  font-size: 20px;
  color: #222; }

.social-media {
  position: fixed;
  top: 50%;
  margin-top: -15px;
  right: 30px;
  height: 30px; }

.social-media a {
  display: block;
  margin-top: 10px;
  text-align: center; }

.email:after {
  content: ""; }

.insta:after {
  content: ""; }

.facebook:after {
  content: ""; }

.active-menu {
  position: relative; }

.active-link:after {
  content: "";
  position: absolute;
  bottom: -30px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  left: 50%;
  margin-left: -11px;
  background-color: #fff;
  animation-name: link-a;
  animation-duration: 0.3s;
  animation-iteration-count: 1; }

@keyframes link-a {
  0% {
    padding: 0; }
  100% {
    padding: 10px; } }
.stars-block {
  display: flex; }

.star-icons {
  height: 18px;
  margin-bottom: 41px; }

.star-icons img {
  height: 100%; }

.main-footer {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Lato Regular", Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
